  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sobre a PlanoOn</h5>
          <p class="grey-text text-lighten-4">
            A PlanoOn é a primeira empresa especializada em conteúdo voltado para professores, criada com intuito de facilitar a vida dos professores, na elaboração das suas aulas, reservando mais tempo para que os mesmos se dediquem à qualidade dos conhecimentos transmitidos em sala de aula.
          </p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Team PlenoOn</h5>
          <ul>
            <li><a class="white-text" href="#!">Desenvolvedores</a></li>
            <li><a class="white-text" href="#!">Professores</a></li>
            <li><a class="white-text" href="#!">Currículo</a></li>
            <li><a class="white-text" href="#!">Manual</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Parceiros</h5>
          <ul>
            <li><a class="white-text" href="#!">Orgãos Públicos</a></li>
            <li><a class="white-text" href="#!">Instituições / ONGs</a></li>
            <li><a class="white-text" href="#!">Pessoas Físicas</a></li>
            <li><a class="white-text" href="#!">Empresas</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
    <div class="container">
        Corpyright - 2017      <a class="brown-text text-lighten-3" href="http://www.planoon.com.br">PlanoOn</a>
    </div>
    </div>
  </footer>